:root {
  --color: #08090A;
  --weak-color: #546285;
  --accent-color: #35B8BE;
  --serif: 'Inter', sans-serif;
}



.takeaway {
  background-color: #35B8BE;
  width: 1440px;
  margin: auto;
  display: flex;
  justify-content: center;
  height: 48px;
  font-family: var(--serif);
  font-size: 14px;
  line-height: 20px;
  color: white;
}

.takeaway button {
  background-color: var(--accent-color);
  font-family: var(--serif);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: white;
}

.container {
  max-width: 1200px;
  margin: auto;
}

header {
  margin-bottom: 31px;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

header ul {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 477px;
  height: 60px;
}

header li {
  font-family: var(--serif);
  font-size: 15px;
  color: var(--color);
  padding-left: 16px;
}

header li:last-child {
  padding-right: 0;
  padding-left: 30px;
}

header li:hover {
  color: var(--accent-color);
}

.delivery {
  background-image: url(img/background-delivery.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 820px;
}

.delivery .row {
  display: flex;
  padding-top: 100px;
}

.delivery h2 {
  font-family: var(--serif);
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  max-width: 606px;
  color: var(--color);
  margin-top: 62px;
  margin-bottom: 27px;
}


.delivery h2 span {
  color: var(--accent-color);
}

.delivery p {
  font-family: var(--serif);
  color: var(--weak-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  max-width: 539px;
  padding: 0 0 53px 0;
  margin: 0;
}

.delivery button {
  padding: 19px 35px 21px 35px;
  background-color: #35B8BE;
  border-radius: 6px;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 30px;
}

.freshproduct {
  width: 1440px;
  height: 894px;
  background-image: url(img/freshproduct-background.svg);
  background-repeat: no-repeat;
  margin: auto;
  margin-bottom: 120px;
}

.freshproduct .container {
  display: flex;
  padding-top: 140px;
}

.freshproduct h2 {
  font-family: var(--serif);
  font-size: 51px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px;
  color: var(--accent-color);
  max-width: 374px;
}

.freshproduct p {
  font-family: var(--serif);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  color: var(--weak-color);
  max-width: 578px;
  margin-bottom: 47px;
}

.freshproduct button {
  padding: 19px 35px 21px 35px;
  background-color: #35B8BE;
  border-radius: 6px;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

.freshproduct img {
  padding-right: 27px;
}

.choices {
  text-align: center;
  margin-bottom: 105px;
}

.choices h3 {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 55px;
  color: var(--accent-color);
  margin-bottom: 80px;
}

.choices ul {
  display: flex;
}

.choice h4 {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: var(--color);
}

.choice p {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--weak-color);
  max-width: 75%;
  margin: auto;
}

.menu {
  width: 1440px;
  height: 1336px;
  text-align: center;
  background-image: url(img/menu-background.svg);
  background-repeat: no-repeat;
  margin: auto;
}


.menu h2 {
  padding-top: 154px;
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 55px;
  color: var(--accent-color);
  margin: 0;
  padding-bottom: 26px;
}

.start h3 {
  font-family: var(--serif);
  color: #546285;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  margin: auto;
  max-width: 446px;
}

.menu .start button p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 16px 46px;
  background-color: #35B8BE;
  border-radius: 6px;
  color: white;
}

.menu .start button {
  padding: 0;
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 40px;
}

.menu ul {
  display: flex;
  background-color: white;
  justify-content: center;
  gap: 20px;
}

.menu li {
  border: 1px solid #DDDDDD;
  display: flex;
  border-radius: 5px;
  width: 580px;
  height: 200px;
}


.menu .image {
  width: 120px;
  height: 120px;
}

.menu .name {
  display: flex;
  justify-content: space-between;
}


.menu h5 {
  font-family: var(--serif);
  font-size: 18px;
  color: var(--weak-color);
}


.menu h6 {
  font-family: var(--serif);
  font-size: 15px;
  color: var(--accent-color);
}

.menu .form {
  display: flex;
}

.menu input {
  height: 45px;
  width: 60px;
  border-radius: 6px;
}

.menu li button {
  padding: 8px 10px 12px 10px;
  background-color: #35B8BE;
  color: black;
  border-radius: 6px;
}



.row li {
  width: 580px;
}

.rows ul {
  display: flex;
}

.faq {
  margin-top: 120px;
  margin-bottom: 120px;
}

.faq .container {
  display: flex;
}

.faq .column {
  padding-left: 44px;
  padding-top: 136px;
  padding-bottom: 122px;
}

.faq h2 {
  font-family: var(--serif);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 55px;
  color: var(--accent-color);
  max-width: 529px;
  margin: 0;
  padding-bottom: 29px;
}

.faq p {
  font-family: var(--serif);
  font-size: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  color: var(--weak-color);
  max-width: 529px;
  margin: 0;
  padding-bottom: 47px;
}

.faq button {
  padding: 19px 35px 21px 35px;
  background-color: #35B8BE;
  border-radius: 6px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: white;
}

.phone {
  width: 1440px;
  margin: auto;
  background-image: url(img/background-phone.png);
}

.phone .container {
  display: flex;
  padding-top: 140px;
  padding-bottom: 140px;
}

.phone .column {
  padding-right: 70px;
}

.phone h2 {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 55px;
  color: var(--accent-color);
  max-width: 576px;
  padding-top: 100px;
  padding-bottom: 29px;
  margin: 0;
}

.phone p {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--weak-color);
  max-width: 576px;
  padding-bottom: 47px;
  margin: 0;
}

.phone button {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  padding: 19px 35px 21px 35px;
  background-color: #35B8BE;
  border-radius: 6px;
  color: white;
}


.finish {
  width: 1354px;
  margin: auto;
  background-image: url(img/finish-first.jpg);
  background-repeat: no-repeat;
  background-position: left;
}

.finish .background {
  background-image: url(img/finish-second.jpg);
  background-repeat: no-repeat;
  background-position: right;

}

.finish .container {
  display: flex;
  justify-content: space-around;
}

.finish .column {
  height: 666px;
  width: 640px;
  margin-left: 743px;
}

.finish h3 {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 51px;
  line-height: 60px;
  color: white;
  max-width: 490px;
}

.finish h3 span {
  color: #1B9097;
}

.finish button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  padding: 19px 35px 21px 35px;
  background-color: white;
  border-radius: 6px;
  color: var(--accent-color);
  margin: auto;

}

footer {
  background-image: url(img/footer-img.jpg);
  height: 593px;
  width: 1440px;
  margin: auto;
}

footer .container {
  padding-top: 100px;
}

footer .allinfo {
  display: flex;
  padding-bottom: 99px;
}

footer .left-footer {
  width: 584px;
  height: 232px;
}

footer p {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  max-width: 220px;
  color: var(--weak-color);
  margin: 0;
  padding-top: 28px;
}

footer .right-footer {
  display: flex;
  justify-content: space-around;
}

footer .column {
  width: 190px;
  height: 232px;
}

footer .column h4 {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: var(--color);
  margin: 0;
}

footer hr {
  margin: 0;
  border: 0;
  height: 1px;
  background-color: #A6A4A4;
  opacity: 0.2;
}

.networks {
  display: flex;
  justify-content: space-between;
}

.networks p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  max-width: 291px;
  padding-top: 71px;
}

.networks p span {
  color: #35B8BE;
}

.network {
  margin-top: 61px;
}